{% extends 'blog/base.html' %}

{% block title %}
About
{% endblock %}
{% block content %}

<p>
<li><h3> Cтильна фурнітура </h3></li>
<li><h3>Часна майстерня ручної робти</h3></li>
<li><h3>Сировина Українського виробництва</h3></li>
<li><h3>Краски воск та апритура Італійського виробництва</h3></li>
<li><h3>Гарантія 3 місяці на виріб</h3></li>
<li><h3>Строк служби 7 років</h3></li>
<li><h3>Можливе пошиття ремня на ваше замовлення та з вашою фурнітурою</h3></li>

<li>
    <h3>Можливість оптової продажі</h3></li>

</p>
{% endblock %}


