{% extends 'blog/base.html' %}
{% block title %}
Contact
{% endblock %}
{% block content %}
<style>
.text-center {
position: relative;
left: -8%;
    }
</style>



<div class="text-center">
    <h1 class="text-primary">
       Консультации и заказ по телефонам
    </h1>

<h3>
		<nobr class="header-phones-i">(063) 508-29-44</nobr> <span class="glyphicon glyphicon-phone"></span>
   <p></p><nobr class="header-phones-i">demidoff.gmail.com</nobr>  <span class="glyphicon glyphicon-envelope"></span>



    </h3>

<div class="developer">
    <h1 class="text-primary">
       Технический отдел
    </h1>

		<h3><nobr class="header-phones-i">(050) 837-41-90 - Демидов Євгений Валерьевич (Developer) <span class="glyphicon glyphicon-phone"></span> </nobr>
    </p><nobr>Evgen_Demidov@ukr.net</nobr> <span class="glyphicon glyphicon-envelope"></span>  <p>
    </p><nobr>evgendemidovs@gmail.com</nobr>  <span class="glyphicon glyphicon-envelope"></span> <p>
    </p><nobr> skype - jeka.demidov1</nobr> <span class="glyphicon glyphicon-earphone"></span> <p></h3>
				</div>
<div class="delivery">
    <h1 class="text-primary">
       Служба доставки
    </h1>

	<h3><nobr class="header-phones-i">(063) 514-41-71 - Янина</nobr> <span class="glyphicon glyphicon-phone"></span></h3>
				</div>

{% endblock %}