{% extends 'blog/base.html' %}
{% block title %}
Contact
{% endblock %}
{% block content %}

<p>
    <span>


<div class="contact">
    <h3>
       Консультации и заказ по телефонам
    </h3>
			<nobr class="header-phones-i bold">(04736) 3-67-96,</nobr>
		<nobr class="header-phones-i">(063) 8374190,</nobr>
   <p> <nobr class="header-phones-i">email - Evgen_Demidov@ukr.net</nobr></p>


   </p>
<div class="questions">
    <h3>
       Вопросы и ответы
    </h3>
			<nobr class="header-phones-i bold">(04736) 3-67-96,</nobr>
		<nobr class="header-phones-i">(063) 8374190 - Демидов Роман Валерьевич (Директор),</nobr>
    <p>

    </p><nobr> email - Evgen_Demidov@ukr.net</nobr>  <p>

    </p><nobr> skype - Evgen_Demidov@ukr.net</nobr>
				</div>

   </p>
<div class="developer">
    <h3>
       Технический отдел
    </h3>
			<nobr class="header-phones-i bold">(063)83-74-190,</nobr>
		<nobr class="header-phones-i">(050) 8374190 - Демидов Євгений Валерьевич (Developer),</nobr>
    </p><nobr> email - Evgen_Demidov@ukr.net</nobr>  <p>
    </p><nobr> email - evgendemidovs@gmail.com</nobr>  <p>
    </p><nobr> skype - jeka.demidov1</nobr>  <p>
				</div>
<div class="delivery">
    <h3>
       Служба доставки
    </h3>
			<nobr class="header-phones-i bold">(04736) 3-67-96,</nobr>
		<nobr class="header-phones-i">(063) 8374190 - Демидов Євгений Валерьевич (Developer),</nobr>
				</div>

{% endblock %}