{% extends 'blog/base.html' %}
{% block title %}
Belt
{% endblock %}
{% block content %}

<div id="products">

<style>
    #products {
    margin-left: 16px;
}
.sm{


margin-left: 49px;
}

a.button7 {
    border: 3px solid #000;
    font-size: 13px;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #fff;
    height: 50px;
    display: inline-block;
}
.price {
position: relative;
    float: right;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 30px;
  font-weight: 700;
  top: 0px;
  left: -120px;

}
#product-content {
    float: right;
    width: 685px;
    position: relative;
}
#product-header {
    position: relative;
}
#place_order {
    float: right;
}
#bp {
position: relative;
float: right;
width: 285px;
margin: 40px;
left: 320px;
}
 P {
    text-indent: 1.5em; /* Отступ первой строки */
    text-align: justify; /* Выравнивание по ширине */
   }
.order { border: 3px solid #000;
    font-size: 13px;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #fff;
    height: 50px;
    width: 130px;
    display: inline-block;
    }
.woocommerce-Price-currencySymbol {
    position: relative;
    left: 15px;

}
#bigb {
color: #3d3535;
posistion: relative;
top: 20%;
font-size: 350%;
left: 10%;

}
ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */


   }
</style>



    <div class="product-foto-galery">




                <ul class="pagination">
                    <li><a class="fancybox" class="full" rel="group" href="{{tovar.image}}" title="Demidoff"><img class="sm" src="{{tovar.image}}" width="100" height="100" alt="Demidoff"></a>
                    </li>
                    <li><a class="fancybox" rel="group" href="{{tovar.image1}}" title="Demidoff"><img class="sm" src="{{tovar.image1}}" width="100" height="100" alt="Demidoff"></a>
                    </li>
                    <li><a class="fancybox" rel="group" href="{{tovar.image2}}" title="Demidoff"><img class="sm" src="{{tovar.image2}}" width="100" height="100" alt="Demidoff"></a>
                    </li>
                    <li><a class="fancybox" rel="group" href="{{tovar.image3}}" title="Demidoff"><img class="sm" src="{{tovar.image3}}" width="100" height="100" alt="Demidoff"></a>
                    </li>

                    </ul>

</div>

<div id="product-content">


<div id="product-header">

    <div class="product-name-container">

        <h3 itemprop="name">
            <span class="name">Мужской кожаный ремень, ручной роботы</span>




        </h3>


    </div>

</div>


<div id="description" itemprop="description">
    <div id="ProductDescription_0">
        <p>
           Частная мастерская «Demidoff» занимается изготовлением качественных товаров из натуральной кожи. Мы изготавливаем вещи исключительно ручной работы. Ремни с натуральной кожи, толщина 3,5 мм. Край закругленный для удобства и аккуратности изделия. Окрашенные качественными натуральными красками, oтполированные пчелиным воском. Покрытые дополнительно специальным составом (финиш) для длительного использования изделия. Пряжка из прочного металла под бронзу. Классический ремень, который изготовлен на долгие годы.
        </p>
    </div>
</div>





      </div>
{% load staticfiles %}
      <!-- Add jQuery library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/static/blog/source/jquery.cookie.js"></script>
<!-- Add<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> fancyBox -->
<link rel="stylesheet" href="/static/blog/source/jquery.fancybox.css" type="text/css" type="text/css" media="screen" />
<script type="text/javascript" src="/static/blog/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>

<div id="bp">
<a href="#" class="button7">Добавить в корзину</a>
 <span class="price">
    {{tovar.price}} Грн

</span>
    </div>
<script type="text/javascript">
badge = 0;
$(function(){

var arr1 = $.cookie('cart');
        if (!arr1){
            arr1 = '[]';
        }
        var json2 = $.parseJSON(arr1);

var summa1 = 0;
    $.each(json2, function( index, value ) {
        summa1 = summa1 + parseInt(value['price']);
    });
    $('.cart .summa').text(summa1);

    $(".button7").click(function(){
        badge ++;
        var arr = $.cookie('cart')  ;
        if (!arr){
            arr = '[]';
        }
        var json = $.parseJSON(arr);
        json.push({
            'price':$('span.price').text(),
            'img':$('img.sm').attr('src'),
    });
    $.cookie('cart', JSON.stringify(json), { path : '/' });
    var summa = 0;
    $.each(json, function( index, value ) {
        summa = summa + parseInt(value['price']);
    });
    $('.cart .summa').text(summa);
   });
  });
</script>
</div>

<div class="cart">
<a class="order" href="{% url 'order' %}"> Оформить заказ </a></div>
</div>
{% endblock %}
