

                <ul class="pagination">
                    <li><a class="fancybox" class="full" rel="group" href="{{tovar.image}}" title="Ярмарок"><img class="sm" src="{{tovar.image}}" width="100" height="100" alt="Ярмарка"></a>
                    </li>
                    <li><a class="fancybox" rel="group" href="{{tovar.image1}}" title="Ярмарок"><img class="sm" src="{{tovar.image1}}" width="100" height="100" alt="Ярмарка"></a>
                    </li>
                    <li><a class="fancybox" rel="group" href="{{tovar.image2}}" title="Ярмарок"><img class="sm" src="{{tovar.image2}}" width="100" height="100" alt="Ярмарка"></a>
                    </li>
                    <li><a class="fancybox" rel="group" href="{{tovar.image3}}" title="Ярмарок"><img class="sm" src="{{tovar.image3}}" width="100" height="100" alt="Ярмарка"></a>
                    </li>

                    </ul>









{% load staticfiles %}
      <!-- Add jQuery library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/static/blog/source/jquery.cookie.js"></script>
<!-- Add<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> fancyBox -->
<link rel="stylesheet" href="/static/blog/source/jquery.fancybox.css" type="text/css" type="text/css" media="screen" />
<script type="text/javascript" src="/static/blog/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>


<a href="#" class="button7">Добавить в корзину</a>
 <span class="price">
    {{tovar.price}} Грн
    </span>
</span>
<div class="cart"> В Корзине товаров на <span class="summa"> 0 </span> <br>
<a class="order" href="{% url 'order' %}"> Оформить заказ </a></div>